/* Element Selector */
h1{
    font-weight: bold;
}
/* Class Selector */
.red{
    background-color: red;
}
/* ID Selector */
#blue{
    background-color: blue;
}
/* Descendant Selector */
div p{
    background-color: bisque;
}
/* Child Selector */
div > p{
    background-color: aquamarine;
}
/* Universal Selector */
*{
    padding: 0;
    margin: 0;
}
/* Pseudo Selectors */
a:link{
    color: rgba(0, 204, 255, 0.614);
}
a:hover{
    background-color: black;
}
a:visited{
    color: crimson;
}
a:active{
    background-color: yellow;
}